#concursos-pagina{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
}

.opcoes-concurso{
  width: 70%;
}

.opcoes-concurso-filtro{
  margin-bottom: 40px;
}

.opcoes-concurso h4{
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}

.opcoes{
  display: flex;
  justify-content: space-around;

}

.opcoes button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.opcoes .disable{
  background: none;
  border: none;
  background-color: #01416d;
  padding: 20px;
  color: #fff;
  width: 200px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.opcoes .enable{
  background: none;
  border: none;
  background-color: #01416d;
  padding: 20px;
  color: #fff;
  width: 200px;
  opacity: 0.7;
  box-shadow: none;
}




.tipo-concurso{
  width: 70%;

  display: flex;
  flex-direction: column;
}

/* #militar{display: none;} */

.niveis-concurso{
  margin: 10px 0;
}

.niveis-concurso h5{
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #01416d;
  border-radius: 10px;
  color: #fff;
  box-shadow: 10px black;
}

.concurso{
  display: flex;
  flex-direction: column;

  margin: 10px 0;
}

.concurso-titulo{
  padding: 5px;
  margin: 5px 0;
  border-bottom: solid 1px #fabe04;
}

.concurso-titulo h6{
  font-size: 2em;
}

.descricao-concurso{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  padding: 30px 35px;
  background-color: #dee2e6;
  border-radius: 10px;
}

.descricao{
  width: 90%;
  margin: 10px 0;

}

.descricao p{
  line-height: 2;
}

.concurso{
  margin-bottom: 30px;
}

.sub-titulo-descricao{
  font-weight: bold;
}

@media (max-width: 768px){

  #concursos-pagina{
    margin: 30px 0;
    margin-top: 40px;
  }

  .opcoes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .opcoes button{
    margin-bottom: 20px;
  }

  .opcoes .enable{
    width: 200px;
  }

  .opcoes .disable{
    width: 200px;
  }

  th{
    font-size: 0.7em;
  }

  tr{
    font-size: 0.7em;
  }

  .tipo-concurso{
    width: 90%;

  }
  .descricao{
    width: 100%;
  }

}
