h3{
  margin: 0;
}
#row{
  margin-top: 20px;
}



.triangulo{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-bottom-width: 0px;
  border-top-width: 250px;
  border-left: 250px solid #fabe04;
}

#row img{
  width: 200px;
  height: auto;
}

#row-art-right{
  width: 250px;
}

#quote{
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fabe04;
}

#quote h3{
  text-align: center;
  color: #01416d;
  letter-spacing: 5px;
}

#carrosel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

#carrosel #carouselExampleControls{
  width: 60%;
}


@media (max-width: 768px){

  .triangulo{
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 0px;
    border-top-width: 100px;
    border-left: 100px solid #fabe04;
  }

  #row{
    margin-top: 10px;
  }

  #row-art-right{
    width: 100px;
  }

  #row img{
    width: 95px;
    height: auto;
  }

  #quote{
    padding: 20px 0;
  }


  #quote h3{

    font-size: 1em;
    text-align: center;
    color: #01416d;
  }

  #carrosel{
    margin:  0;
  }


  #carrosel #carouselExampleControls{
    width: 100%;
  }


}
