
#quote-top{
   width: 100%;
   margin: 40px 0 80px 0;
   padding: 5% 0;
   background-color: #fabe04;
}

#quote-top h1{
  text-align: center;
  color: #01416d;
  font-size: 2em;
  letter-spacing: 5px;
}

#carrousel{
  margin-bottom: 40px;
}


@media (max-width: 768px){

  #quote-top h1{
    font-size: 1em;
    margin: 0 30px;
  }

  #quote-top{
    padding: 10% 0;
    margin-bottom: 30px;
  }

  #carrousel{
    margin-bottom:40px;
  }

}
