body{
  font-family: 'Quicksand', sans-serif;
}

#navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

#container{
  position: relative;
  top: 60px;
}


/* style nav-bar */
#navbar li{
  margin: 0 10px 0 0;
}

#navbar  a{
  color: #fabe04
}


.dropdown-menu {
  background-color: #212529
}

@media (max-width: 768px){

}
